<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    $col1$
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        $socialicons$
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    $col2$
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    Download Resume <a href="http://nsportfolio.azurewebsites.net/" target="_blank">Click Here</a>
				</div>
				<div class="col-lg-3">
					Developed By <a href="http://nsportfolio.azurewebsites.net/" target="_blank">Nitesh Sahni</a>
				</div>
                <div class="col-lg-3">
                    Download Resume <a href="http://nsportfolio.azurewebsites.net/" target="_blank">Click Here</a>
                </div>
                <div class="col-lg-6 copyright">
                    Copyright &copy; $sitename$
                </div>
            </div>
        </div>
    </div>
</footer>